video {
    box-shadow: 2px 2px 25px 1px  rgb(1 192 13 / 77%);
    margin-top: 20px;

}

.active-video {
    width: 30em;
    height: 18em;
    z-index: 1;
    position:absolute;
    background-color: rgb(1 192 13 / 77%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.container-video {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text {
    color: #FFFFFF;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bold;
    opacity: 100%;
    font-family: 'Oswald', sans-serif;
}

.active-video:hover {
    cursor: pointer;
}

.sound-icon {
    font-size: 60px;
    margin-top: 2px;
}