@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 10px #FFFFFF;
}
.text-container {
  margin-top: 30px;
  line-height: 36px;
  font-size: 25px;
}
.price {
  color: #dd0000;
}

.terms {
  text-decoration: none;
  color: #FFFFFF;
}

.text-footer-container {
  font-size: 15px;
  letter-spacing: 1px;
}

.terms:hover {
  opacity: 80%;
}

.copy {
  font-size: 15px;
}

.buy:hover {
  cursor: pointer;
  opacity: 0.9;
}

.spacing-my {
  margin: 10px 0 10px 0;
}

.spacing-top-x {
  margin-top: 28px;
}


@media screen and (max-width: 480px) {
  .desconto {
    width: 12em;
  }
  .buy-button {
    width: 85%;
    height: 20%;
    margin-top: 10px;
  }
}
